! font rendering
Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! i3 color scheme
i3wm.backgroundColor: #282828
i3wm.focusedColor:    #4285f4
i3wm.inactiveColor:   #383838
