Xcursor.theme: Adwaita

URxvt.background: #333333
URxvt.foreground: #ffffff
URxvt.scrollBar: false

! fonts
URxvt.font: xft:Source Code Pro:style=Regular:pixelsize=14
URxvt.boldFont: xft:Source Code Pro:style=Bold:pixelsize=14
URxvt.italicFont: xft:Source Code Pro:style=Italic:pixelsize=14
URxvt.boldItalicFont: xft:Source Code Pro:style=Bold Italic:pixelsize=14
URxvt.letterSpace: -1

! clickable URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
